@font-face {
  font-family: 'benton-regular';
  src: url('../../fonts/BentonSans_Regular.otf');
}

@font-face {
  font-family: 'helvetica-medium';
  src: url('../../fonts/BentonSans-Medium.otf');
}
@font-face {
  font-family: 'helvetica-bold';
  src: url('../../fonts/BentonSans-Bold.otf');
}

@font-face {
  font-family: 'helvetica-regular';
  src: url('../../fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: 'helvetica-medium';
  src: url('../../fonts/HelveticaNeue-Medium.ttf');
}

@font-face {
  font-family: 'helvetica-bold';
  src: url('../../fonts/HelveticaNeue-Light.ttf');
}
